<div class="jumbotron">
  <div class="container">
    <img src="images/dist/images/vintruvIcon.png" width="200" height="200"alt="">
    <h1 class="">About</h1>
  </div>
</div>

<h4>This app was created to help weightlifters obtain symmetrical strength.</h4>

<h4>Be sure to login to get the most use out of the website.</h4>

The original vintruv-fitness icon was created by Budi Hartono and from Noun Project. <a href="https://thenounproject.com/term/vitruvian-man/30259/">Vitrivian-Man</a>
Changes to the icon were made for this website.
