<div class="jumbotron">
  <div class="container">
    <!-- <h1 class="">Advanced</h1> -->
  </div>
</div>

<div class="container advanced-container">
  <form class="form-signin"  method="post">
    <h2 class="form-signin-heading">Calculate Your Ideal Strengths</h2>
    <select ng-model="exerciseName" ng-options="x for x in vehicles">
      <option value="" disabled selected>Select Your Exercise</option>
    </select>
    <input class="input-border-focus"type="number" min="1" max="2000" placeholder="Weight" ng-model="weight">

    <select ng-model="reps" name="Repetitions" ng-options="x for x in repetitions">
      <option value="" disabled selected>Select Your Repetitions</option>
    </select>

    <button class="btn btn-info" ng-click="updateMyChartData(weight, exerciseName)">Refresh Goal Data in Chart</button>
    <button class="btn btn-warning" ng-click="updateMyCurrentChartData()">Refresh Current Data in Chart</button>

  </form>
</div>


<div class="container-fluid">
  <div class="row">
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div>
      <fusioncharts id="mychartcontainer" chart="{{goalattrs}}"  width="40%" height="400" type="column2d" dataSource="{{dataSource1}}">
      </fusioncharts>

      <fusioncharts id="mychartcontainer" chart="{{attrs}}" width="40%" height="400" type="column2d" dataSource="{{dataSource2}}">
      </fusioncharts>
  </div>
  <div >
    <fusioncharts id="mychartcontainer" chart="{{goalattrs}}" width="40%" height="400" type="column2d" dataSource="{{dataSource3}}">
    </fusioncharts>
    <fusioncharts id="mychartcontainer" chart="{{attrs}}" width="40%" height="400" type="column2d" dataSource="{{dataSource4}}">
    </fusioncharts>
</div>
<div >
  <fusioncharts id="mychartcontainer" chart="{{goalattrs}}" width="40%" height="400" type="column2d" dataSource="{{dataSource5}}">
  </fusioncharts>
  <fusioncharts id="mychartcontainer" chart="{{attrs}}" width="40%" height="400" type="column2d" dataSource="{{dataSource6}}">
  </fusioncharts>
</div>
<div >
  <fusioncharts id="mychartcontainer" chart="{{goalattrs}}" width="40%" height="400" type="column2d" dataSource="{{dataSource7}}">
  </fusioncharts>
  <fusioncharts id="mychartcontainer" chart="{{attrs}}" width="40%" height="400" type="column2d" dataSource="{{dataSource8}}">
  </fusioncharts>
</div>
<div >
  <fusioncharts id="mychartcontainer" chart="{{goalattrs}}" width="40%" height="400" type="column2d" dataSource="{{dataSource9}}">
  </fusioncharts>
  <fusioncharts id="mychartcontainer" chart="{{attrs}}" width="40%" height="400" type="column2d" dataSource="{{dataSource10}}">
  </fusioncharts>
</div>
<div >
  <fusioncharts id="mychartcontainer" chart="{{goalattrs}}" width="40%" height="400" type="column2d" dataSource="{{dataSource11}}" >
  </fusioncharts>
  <fusioncharts id="mychartcontainer" chart="{{attrs}}" width="40%" height="400" type="column2d" dataSource="{{dataSource12}}">
  </fusioncharts>

</div>
<div >
  <fusioncharts id="mychartcontainer" chart="{{goalattrs}}" width="40%" height="400" type="column2d" dataSource="{{dataSource13}}">
  </fusioncharts>
  <fusioncharts id="mychartcontainer" chart="{{attrs}}" width="40%" height="400" type="column2d" dataSource="{{dataSource14}}">
  </fusioncharts>
</div>
<div >
  <fusioncharts id="mychartcontainer" chart="{{goalattrs}}" width="40%" height="400" type="column2d" dataSource="{{dataSource15}}">
  </fusioncharts>
  <fusioncharts id="mychartcontainer" chart="{{attrs}}" width="40%" height="400" type="column2d" dataSource="{{dataSource16}}">
  </fusioncharts>
</div>
<div >
  <fusioncharts id="mychartcontainer" chart="{{goalattrs}}" width="40%" height="400" type="column2d" dataSource="{{dataSource17}}">
  </fusioncharts>
  <fusioncharts id="mychartcontainer" chart="{{attrs}}" width="40%" height="400" type="column2d" dataSource="{{dataSource18}}">
    </fusioncharts>
</div>
  </div>
</div>
</div>
