Make sure to refresh after modifying an item<br>
//tie it in together. use current formula
//update how much you can lift
<button ng-click="data()">Get/Refresh items in database</button><br>

How much can you lift in a particular exercise
<select ng-model="name" ng-options="x for x in vehicles">
  <option value="" disabled selected>Select Your Exercise</option>
</select>
<select ng-model="reps" name="Repetitions" ng-options="x for x in repetitions">
  <option value="" disabled selected>Select Your Repetitions</option>
</select>

<button ng-click="calculator(description, name)">Add Item</button><br>


<input type="text" placeholder="id" ng-model="id">
<input type="text" placeholder="Description" ng-model="desc">
<button ng-click="update(id,desc)">Change Description</button><br>




<button ng-click="add(exercises.newFrontSquat,exercises.newBackSquat,exercises.newPendlayRow,exercises.newDeadlift, exercises.newShoulderPress,
 exercises.newInclineBench, exercises.newBench,exercises.newBicepCurl, exercises.newTricepCurl )">Add Item</button><br>
How much can you lift in the following exercises


<input type="text" min="1" max="2000" placeholder="Weight" ng-model="frontSquat">
<button ng-click="calculator(frontSquat, 'newFrontSquat')">Front Squat</button><br>

<input type="text" min="1" max="2000" placeholder="Weight" ng-model="backSquat">
<button ng-click="calculator(backSquat, 'newBackSquat')">Back Squat</button><br

<input type="text" min="1" max="2000" placeholder="Weight" ng-model="deadLift">
<button ng-click="calculator(deadLift, 'newDeadlift')">Deadlift</button><br>

<input type="text" min="1" max="2000" placeholder="Weight" ng-model="pendlayRow">
<button ng-click="calculator(pendlayRow, 'newPendlayRow')">PendlayRow</button><br>

<input type="text" min="1" max="2000" placeholder="Weight" ng-model="benchPress">
<button ng-click="calculator(benchPress, 'newBench')">Bench Press</button><br>

<input type="text" min="1" max="2000" placeholder="Weight" ng-model="inclineBench">
<button ng-click="calculator(inclineBench, 'newInclineBench')">Incline Press</button><br>

<input type="text" min="1" max="2000" placeholder="Weight" ng-model="shoulderPress">
<button ng-click="calculator(shoulderPress, 'newShoulderPress')">Shoulder Press</button><br>

<input type="text" min="1" max="2000" placeholder="Weight" ng-model="bicepCurl">
<button ng-click="calculator(bicepCurl, 'newBicepCurl')">Bicep Curl</button><br>

<input type="text" min="1" max="2000" placeholder="Weight" ng-model="tricepCurl">
<button ng-click="calculator(tricepCurl, 'newTricepCurl')">Tricep Curl</button><br>


<div ng-repeat="items in displaySymmetry">
ID: {{items.productid}}<br>
Product: {{items.name}}<br>
Description: {{items.description}}<br>
Price: ${{items.price}}<br>
Bench Press: {{ exercises.newBench }}<br>
Back Squat: {{ exercises.newBackSquat }}<br>
Front Squat: {{ exercises.newFrontSquat }}<br>
Deadlift: {{ exercises.newDeadlift }}<br>
Shoulder Press: {{ exercises.newShoulderPress }}<br>
Incline Bench Press: {{ exercises.newInclineBench }}<br>
Pendlay Row: {{ exercises.newPendlayRow }}<br>
Bicep Curl: {{ exercises.newBicepCurl }}<br>
Tricep Curl: {{ exercises.newTricepCurl }}<br>
Weight: {{items.description}} Lbs<br>
Repetitions: {{items.price}}<br>

<img ng-src="{{items.imageurl}}">
</div>
