<div class="jumbotron">
  <div class="container">
    <!-- <img src="images/dist/images/vintruvIcon.png" width="100" height="100"alt=""> -->
    <div class="container">
      <form class="form-inline"  method="post">
        <h2 class="form-signin-heading">Calculate Your Ideal Strengths</h2>
        <div class="form-group">
          <label for="email">Exercise: </label>
          <select ng-model="exerciseName" ng-options="x for x in vehicles">
            <option value="" disabled selected>Select Your Exercise</option>
          </select>
        </div>
        <div class="form-group">
            <label for="email">Weight: </label>
            <input type="number" min="1" max="2000" placeholder="Enter Weight" ng-model="weight">
            <label for="email">Repetitions: </label>
        </div>    
        <div class="form-group">    
            <select ng-model="reps" name="Repetitions" ng-options="x for x in repetitions">
              <option value="" disabled selected>Select Your Repetitions</option>
            </select>
        </div>
        <button class="btn btn-primary" ng-click= "calculator(weight, exerciseName)">Calculate</button>    
      </div>
      </form>
    </div>
  </div>
</div>




<div class="container-fluid">
  <div class="row">
  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main ">
    <h1>{{reps}} Repititions</h1>
    <div class="row placeholders">

      <div class="col-xs-6 col-sm-4" >
        <div class="workoutImg">
          <img src="images/deadLift.jpg" width="225" height="225" class="img-respomsive" alt="deadLift">
          <h4 class="strong">Deadlift: {{ exercises.newDeadlift }}</h4>
        </div>
      </div>

      <div class="col-xs-6 col-sm-4">
        <div class="workoutImg">
          <img src="images/pendlayRow.png" width="225" height="225" class="img-respomsive" alt="pendlay row">
          <h4>Pendlay Row: {{ exercises.newPendlayRow }}</h4>
        </div>
      </div>

      <div class="col-xs-6 col-sm-4">
        <div class="workoutImg">
          <img src="images/backSquat.jpg" width="225" height="225" class="img-respomsive" alt="back squat">
          <h4>Back Squat: {{ exercises.newBackSquat }}</h4>
        </div>
      </div>

      <div class="col-xs-6 col-sm-4">
          <div class="workoutImg">
            <img src="images/frontSquat.jpg" width="225" height="225" class="img-respomsive" alt="front squat">
            <h4>Front Squat: {{ exercises.newFrontSquat }}</h4>
        </div>
      </div>

      <div class="col-xs-6 col-sm-4">
        <div class="workoutImg">
          <img src="images/benchPress.png" width="225" height="225" class="img-respomsive" alt="bench press">
          <h4>Bench Press: {{ exercises.newBench }}</h4>
        </div>
      </div>

      <div class="col-xs-6 col-sm-4">
          <div class="workoutImg">
            <img src="images/inclineBench.jpg" width="225" height="225" class="img-respomsive" alt="incline bench">
            <h4>Incline Bench Press: {{ exercises.newInclineBench }}</h4>
          </div>
      </div>

      <div class="col-xs-6 col-sm-4">
        <div class="workoutImg">
          <img src="images/shoulderPress.jpg" width="225" height="225" class="img-respomsive" alt="shoulder press">
          <h4>Shoulder Press: {{ exercises.newShoulderPress }}</h4>
        </div>
      </div>

      <div class="col-xs-6 col-sm-4">
        <div class="workoutImg">
          <img src="images/bicepCurld.jpg" width="225" height="225" class="img-respomsive" alt="bicep curl">
          <h4>Bicep Curl: {{ exercises.newBicepCurl }}</h4>
        </div>
      </div>

      <div class="col-xs-6 col-sm-4">
        <div class="workoutImg">
          <img src="images/tricepExtension.jpg" width="225" height="225" class="img-respomsive" alt="tricep extension">
          <h4>Tricep Curl: {{ exercises.newTricepCurl }}</h4>
        </div>
      </div>

    </div>
  </div>
  </div>
</div>





</div>

</div>
