<div class="jumbotron">
  <div class="container">
    <img src="images/dist/images/noun_30259_cc.png" width="200" height="200"alt="">
    <h1 class="">Strength Calculator</h1>
  </div>
</div>

<div class="container">
  <form class="form-inline"  method="post">
    <h2 class="form-signin-heading">Calculate Your Ideal Strengths</h2>
    <div class="form-group">
      <label for="email">Exercise: </label>
      <select ng-model="exerciseName" ng-options="x for x in vehicles">
        <option value="" disabled selected>Select Your Exercise</option>
      </select>
    </div>
    <div class="form-group">
        <label for="email">Weight: </label>
        <input type="number" min="1" max="2000" placeholder="Enter Weight" ng-model="weight">
        <label for="email">Repetitions: </label>
    </div>    
    <div class="form-group">    
        <select ng-model="reps" name="Repetitions" ng-options="x for x in repetitions">
          <option value="" disabled selected>Select Your Repetitions</option>
        </select>
    </div>
    <button class="btn btn-primary" ng-click= "calculator(weight, exerciseName)">Calculate</button>    
  </div>
  </form>
</div>


<div class="container-fluid">
  <div class="row">
  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1>{{reps}} Repititions</h1>
    <div class="row placeholders">
      <div class="col-xs-6 col-sm-3 placeholder">
        <img src="images/deadliftClear.png" width="200" height="200" class="img-respomsive" alt="placeholder">
        <h4 class="strong">Deadlift: {{ exercises.newDeadlift }}</h4>
        <span class="text-muted">Something</span>
      </div>
      <div class="col-xs-6 col-sm-3 placeholder">
        <img src="images/pendlayrowClear.png" width="200" height="200" class="img-respomsive" alt="placeholder">
        <h4>Pendlay Row: {{ exercises.newPendlayRow }}</h4>
        <span class="text-muted">Something</span>
      </div>
      <div class="col-xs-6 col-sm-3 placeholder">
        <img src="images/backsquatClear.png" width="200" height="200" class="img-respomsive" alt="placeholder">
        <h4>Back Squat: {{ exercises.newBackSquat }}</h4>
        <span class="text-muted">Something</span>
      </div>
      <div class="col-xs-6 col-sm-3 placeholder">
        <img src="images/frontsquatClear.png" width="200" height="200" class="img-respomsive" alt="placeholder">
        <h4>Front Squat: {{ exercises.newFrontSquat }}</h4>
        <span class="text-muted">Something</span>
      </div>
      <div class="col-xs-6 col-sm-3 placeholder">
        <img src="images/benchPressClear.png" width="200" height="200" class="img-respomsive" alt="placeholder">
        <h4>Bench Press: {{ exercises.newBench }}</h4>
        <span class="text-muted">Something</span>
      </div>
      <div class="col-xs-6 col-sm-3 placeholder">
        <img src="images/inclineBenchCopy.png" width="200" height="200" class="img-respomsive" alt="placeholder">
        <h4>Incline Bench Press: {{ exercises.newInclineBench }}</h4>
        <span class="text-muted">Something</span>
      </div>
      <div class="col-xs-6 col-sm-3 placeholder">
        <img src="images/barbellpress.png" width="200" height="200" class="img-respomsive" alt="placeholder">
        <h4>Shoulder Press: {{ exercises.newShoulderPress }}</h4>
        <span class="text-muted">Something</span>
      </div>
      <div class="col-xs-6 col-sm-3 placeholder">
        <img src="images/bicepcurlCopy.png" width="200" height="200" class="img-respomsive" alt="placeholder">
        <h4>Bicep Curl: {{ exercises.newBicepCurl }}</h4>
        <span class="text-muted">Something</span>
      </div>
      <div class="col-xs-6 col-sm-3 placeholder">
        <img src="images/tricepcurlClear.png" width="200" height="200" class="img-respomsive" alt="placeholder">
        <h4>Tricep Curl: {{ exercises.newTricepCurl }}</h4>
        <span class="text-muted">Something</span>
      </div>

    </div>
  </div>
  </div>
</div>





</div>

</div>
