Make sure to refresh after modifying an item<br>
<button ng-click="data()">Get/Refresh items in database</button><br>


<select ng-model="name" ng-options="x for x in vehicles">
  <option value="" disabled selected>Select Your Exercise</option>
</select>
<input type="number" min="1" max="2000" placeholder="Weight" ng-model="description">
<select ng-model="price" name="Repetitions" ng-options="x for x in repetitions">
  <option value="" disabled selected>Select Your Repetitions</option>
</select>
<input type="text" placeholder="Image URL" ng-model="img">
<button ng-click="add(name,description,price,img); calculator(description, name)">Add Item</button><br>

<input type="text" placeholder="id" ng-model="id">
<input type="text" placeholder="Description" ng-model="desc">
<button ng-click="update(id,desc)">Change Description</button><br>

<input type="text" placeholder="ID" ng-model="id2"><button ng-click="delete(id2)">Delete by ID</button>
<div ng-repeat="items in displaySymmetry">
ID: {{items.productid}}<br>
Exercise: {{name}}<br>
Bench Press: {{ exercises.newBench }}<br>
Back Squat: {{ exercises.newBackSquat }}<br>
Front Squat: {{ exercises.newFrontSquat }}<br>
Deadlift: {{ exercises.newDeadlift }}<br>
Shoulder Press: {{ exercises.newShoulderPress }}<br>
Incline Bench Press: {{ exercises.newInclineBench }}<br>
Pendlay Row: {{ exercises.newPendlayRow }}<br>
Bicep Curl: {{ exercises.newBicepCurl }}<br>
Tricep Curl: {{ exercises.newTricepCurl }}<br>
Weight: {{items.description}} Lbs<br>
Repetitions: {{items.price}}<br>
<img ng-src="{{items.imageurl}}">
</div>
