<div class="container">
  <div class="jumbotron">
    <img src="images/noun_30259_cc.png" alt="">
  </div>
</div>



<div class="container">
  <form class="form-signin" >
    <div class="">
      <label for="">Username</label>
      <input type="text" class="form-control" name="" value="" placeholder="Username"  ng-model="username" required>
    </div>
    <div class="">
      <label for="">Password</label>
      <input type="text" class="form-control" name="" value="" placeholder="Password" ng-model="password" required>
    </div>
    <button class="btn btn-lg btn-primary" ng-click="login(username, password)">Login</button>
</div>
  <a href="/auth/github">Login</a>
