<div class="">
  <img src="images/noun_30259_cc.png" alt="">
</div>

<div class="">
  <p></p>
</div>
<div class="">
  <p></p>
</div>

<form class="" action="index.html" method="post" ng-submit="register()">
  <div class="">
    <label for="username">Username</label>
    <input type="username" name="" value="" placeholder="Username">
  </div>
  <div class="">
    <label for="password">Password</label>
    <input type="password" name="" value="" placeholder="Password">
  </div>
  <div class="">
    <label for="confirm-password">Password</label>
    <input type="password" name="" value="" placeholder="Confirm Password">
  </div>
</form>

<a ui-sref='login'><button type="submit" name="button">Register</button></a>
