<div class="">
  <img src="images/noun_30259_cc.png" alt="">
</div>

<div class="">
  <p></p>
</div>
<div class="">
  <p></p>
</div>

<form class="" action="index.html" method="post" >
  <div class="">
    <label for="">Username</label>
    <input type="text" name="" value="" placeholder="Username" ng-model="username">
  </div>
  <div class="">
    <label for="">Password</label>
    <input type="text" name="" value="" placeholder="Password" ng-model="password">
  </div>
  <div class="">
    <label for="">Confirm Password</label>
    <input type="text" name="" value="" placeholder="Confirm Password" ng-model="confirmPassword">
  </div>
</form>

<button ng-click="register(username, password, confirmPassword)">Register</button>
