

    <div class="jumbotron">
        <div class="container">
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
              <div class="header-container">
                <!-- <h1 class="">Workout Log</h1> -->
              </div> 
            </div>
        </div>
    </div> 

    <div class="container">
        <div class="row">
          <div class='col-sm-3 col-md-2 sidebar'>
            <ul  class="nav nav-sidebar">
                <li  class="active">
                    <a ng-click="backs=false; legs=false; chest=false; shoulders=false; arms=false; activeButton(1)" ng-class="{'opacitySideBar': allActive}" href="">
                      All<span class="sr-only"(current)></span>
                    </a>
                  </li>
              <li  class="active">
                <a ng-click="legs=!legs; activeButton(2)" ng-class="{'opacitySideBar': legsActive}" href="">
                  Legs<span class="sr-only"(current)></span>
                </a>
              </li>
              <li class="active">
                  <a ng-click="backs=!backs; activeButton(3)" ng-class="{'opacitySideBar': backActive}" href="">
                    Back
                  </a>
              </li>
              <li class="active">
                  <a ng-click="chest=!chest; activeButton(4)" ng-class="{'opacitySideBar': chestActive}" href="">
                    Chest
                  </a>
              </li>
              <li class="active">
                  <a ng-click="arms=!arms; activeButton(5)" ng-class="{'opacitySideBar': armsActive}" href="">
                    Arms
                  </a>
              </li>
              <li class="active">
                  <a ng-click="shoulders=!shoulders; activeButton(6)" ng-class="{'opacitySideBar': shouldersActive}" href="">
                    Shoulders
                  </a>
              </li> 
              <li class="active">
                  <a ng-click="backs=true; legs=true; chest=true; shoulders=true; arms=true; activeButton(7)" ng-class="{'opacitySideBar': noneActive}" href="">
                    None
                  </a>
              </li>     
            </ul>
          </div>  
        </div>
      </div> 

    <div class="workout-container col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      
      <h2 class="sub-header">Enter Your Best Lifts For The Day</h2>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th ng-hide="backs">Deadlift</th>
              <th ng-hide="backs">Pendlay Row</th>
              <th ng-hide="legs">Back Squat</th>
              <th ng-hide="legs">Front Squat</th>
              <th ng-hide="chest">Bench Press</th>
              <th ng-hide="chest">Incline Press</th>
              <th ng-hide="shoulders">Shoulder Press</th>
              <th ng-hide="arms">Bicep Curl</th>
              <th ng-hide="arms">Tricep Curl</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td ng-hide="backs">
                  <input type="number" min="1" max="2000" placeholder="Lbs" ng-model="deadlift">
                  <input type="number" min="1" max="2000" placeholder="Reps" ng-model="deadliftReps">
              </td>
              <td ng-hide="backs">
                  <input type="number" min="1" max="2000" placeholder="Lbs" ng-model="pendlayrow">
                  <input type="number" min="1" max="2000" placeholder="Reps" ng-model="pendlayrowReps">
              </td>
              <td ng-hide="legs">
                  <input type="number" min="1" max="2000" placeholder="Lbs" ng-model="backsquat">
                  <input type="number" min="1" max="2000" placeholder="Reps" ng-model="backsquatReps">
              </td>
              <td ng-hide="legs">
                  <input type="number" min="1" max="2000" placeholder="Lbs" ng-model="frontsquat">
                  <input type="number" min="1" max="2000" placeholder="Reps" ng-model="frontsquatReps">
              </td>
              <td ng-hide="chest">
                  <input type="number" min="1" max="2000" placeholder="Lbs" ng-model="benchpress">
                  <input type="number" min="1" max="2000" placeholder="Reps" ng-model="benchpressReps">
              </td>
              <td ng-hide="chest">
                  <input type="number" min="1" max="2000" placeholder="Lbs" ng-model="inclinebench">
                  <input type="number" min="1" max="2000" placeholder="Reps" ng-model="inclinebenchReps">
              </td>
              <td ng-hide="shoulders">
                  <input type="number" min="1" max="2000" placeholder="Lbs" ng-model="shoulderpress">
                  <input type="number" min="1" max="2000" placeholder="Reps" ng-model="shoulderpressReps">
              </td>
              <td ng-hide="arms">
                  <input type="number" min="1" max="2000" placeholder="Lbs" ng-model="bicepcurl">
                  <input type="number" min="1" max="2000" placeholder="Reps" ng-model="bicepcurlReps">
              </td>
              <td ng-hide="arms">
                  <input type="number" min="1" max="2000" placeholder="Lbs" ng-model="tricepcurl">
                  <input type="number" min="1" max="2000" placeholder="Reps" ng-model="tricepcurlReps">
              </td>
            </tr>
          </tbody>
        </table>
        <button class="btn-primary" ng-click="currentAdd(frontsquat, backsquat, pendlayrow, deadlift, shoulderpress, inclinebench, benchpress, bicepcurl, 
        tricepcurl, deadliftReps, pendlayrowReps, backsquatReps, frontsquatReps, benchpressReps, inclinebenchReps, shoulderpressReps, bicepcurlReps, tricepcurlReps); getCurrentData()">Save Lifts</button>
      </div>
    </div>
   

  
    <div  class="workout-container col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      
      <h2 class="sub-header">Workout Entry List <span><h6>(Reps / Lbs)</h6></span></h2>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Date</th>
              <th>Time</th>
              <th>Deadlift</th>
              <th>Pendlay Row</th>
              <th>Back Squat</th>
              <th>Front Squat</th>
              <th>Bench Press</th>
              <th>Incline Press</th>
              <th>Shoulder Press</th>
              <th>Bicep Curl</th>
              <th>Tricep Curl</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="items in displayCurrent | orderBy: '-dates'"
            ng-show="(($index < (displayCurrent.page * displayCurrent.numRecords))
            && ($index >= ((displayCurrent.page - 1) * displayCurrent.numRecords)))">
              <th>{{items.dates | date: 'longDate'}}</th>
              <td>{{items.dates | date: 'shortTime'}}</td>
              <th>{{items.deadliftreps}} / {{items.deadlift}}</th>
              <td>{{items.pendlayrowreps}} / {{items.pendlayrow}}</td>
              <th>{{items.backsquatreps}} / {{items.backsquat}}</th>
              <td>{{items.frontsquatreps}} / {{items.frontsquat}}</td>
              <th>{{items.benchpressreps}} / {{items.benchpress}}</th>
              <td>{{items.inclinebenchreps}} / {{items.inclinebench}}</td>
              <th>{{items.shoulderpressreps}} / {{items.shoulderpress}}</th>
              <td>{{items.bicepcurlreps}} / {{items.bicepcurl}}</td>
              <th>{{items.tricepcurlreps}} / {{items.tricepcurl}}</th>
            </tr>
          </tbody>
        </table>
      </div>
      <form>
        <button class="btn-primary" ng-click="back()">Prev</button>
        <button class="btn-primary" ng-click="next()">Next</button>
    </form>
    </div>
